.communication {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  word-break: break-word;

  @include vp-1199 {
    grid-template-columns: 100%;
  }
}

.communication__callback {
  display: flex;
  justify-content: flex-end;

  @include vp-1199 {
    display: block;
    padding-right: 162px;
    padding-left: 126px;
  }

  @include vp-767 {
    padding-right: #{"clamp(13px,2%,162px)"};
    padding-left: #{"clamp(8px,2%,126px)"};
  }
}

.communication__contacts {
  display: flex;
  justify-content: flex-start;

  @include vp-1199 {
    display: block;
    padding-right: 126px;
    padding-left: 133px;
  }

  @include vp-767 {
    padding-right: #{"clamp(16px,5%,126px)"};
    padding-left: #{"clamp(16px,5%,126px)"};
  }
}
