.promo {
  padding-top: 121px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding-top: 71px;
    padding-bottom: 70px;
  }
}

.promo__container > * {
  @include vp-767 {
    max-width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
}
