.video {
  position: relative;
  width: 100%;
  padding-top: 62%;

  @include vp-767 {
    padding-top: 52%;
  }
}

.video iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #7e90b5;
  transition: opacity 0.3s ease-out;
}

.video__poster-img {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 54, 122, 0.5);
  }
}

.video__poster img {
  width: 100%;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -49%);

  @include vp-1199 {
    width: 27%;
    transform: translate(-52%, -50%);
  }

  @include vp-767 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }
}

.video__btn picture {
  width: 100%;
  height: 100%;
}

.video__btn img {
  @include vp-767 {
    position: relative;
    top: 50%;
    left: 50%;
    width: 22.5%;
    transform: translate(-50%, -50%);
  }
}

// .has-no-js

.video.has-no-js .video__poster {
  display: none;
}
