.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.container--size-s {
  padding: 0 #{"clamp(95px, 8%, 103px)"};

  @include vp-1365 {
    max-width: 1223px;
    padding: 0 30px;
  }

  @include vp-1199 {
    padding: 0 #{"clamp(45px, 5%, 95px)"};
  }

  @include vp-767 {
    padding: 0 #{"clamp(7px,2%,45px)"};
  }
}

.container--size-m {
  padding: 0 #{"clamp(95px, 8%, 103px)"};

  @include vp-1199 {
    padding: 0 #{"clamp(45px, 5%, 95px)"};
  }

  @include vp-767 {
    padding: 0 #{"clamp(9px,2%,45px)"};
  }
}

.container--size-l {
  padding: 0 #{"clamp(30px, 3.5%, 47px)"};

  @include vp-1199 {
    padding: 0 #{"clamp(45px, 5%, 47px)"};
  }

  @include vp-767 {
    padding: 0 #{"clamp(15px, 5%, 45px)"};
  }
}
